version: '3.8'
services:

  ########
  # Base #
  ########
  base:
    env_file:
      - '.env'
    build: 
      context: ./base
      dockerfile: Dockerfile.base
      args:
        # JupyterHub/singleuser version to use as base
        BASE_VERSION: ${JH_BASE}
      labels:
        description: |
          Base JupyterHub image from which all other CUAHSI singleuser environments are created. Built using jupyterhub/singleuser:${JH_BASE} on ${BUILD_DATE}.
    image: cuahsi/singleuser-base:${CUAHSI_BASE}
  
  #################
  # Base CentOS 7 #
  #################
  base-centos7:
    env_file:
      - '.env'
    build: 
      context: ./base-centos7
      dockerfile: Dockerfile
      labels:
        description: |
          Base JupyterHub image from which all other CUAHSI singleuser environments are created in the CentOS7 operating system. Built using centos:centos7.7.1908 on ${BUILD_DATE}.
    image: cuahsi/singleuser-base:centos7.${CUAHSI_BASE}

  ##############
  # Scientific #
  ##############
  scientific:
    env_file:
      - '.env'
    build:
      context: ./python3-scientific
      dockerfile: Dockerfile
      args:
        # cuahsi/singleuser version to use as base
        BASE_VERSION: ${CUAHSI_BASE}
      labels:
        description: |
          CUAHSI JupyterHub singleuser environment configured with scientific libraries. Built using cuahsi/jupyterhub-base:${CUAHSI_BASE} on ${BUILD_DATE}.
    image: cuahsi/singleuser-scientific-py3:${BUILD_DATE}

  ##################
  # Scientific - R #
  ##################
  r:
    env_file:
      - '.env'
    build:
      context: ./r
      dockerfile: Dockerfile.r
      args:
        # cuahsi/singleuser version to use as base
        BASE_VERSION: ${CUAHSI_BASE}
      labels:
        description: |
          CUAHSI JupyterHub singleuser environment configured with scientific libraries with the R programming language. Built using cuahsi/jupyterhub-base:${CUAHSI_BASE} on ${BUILD_DATE}.
    image: cuahsi/singleuser-scientific-r:${BUILD_DATE}

  ##############################
  # 2020 Hydrogeology Syracuse #
  ##############################
  r-hydrogeology:
    env_file:
      - '.env'
    build:
      context: ./hydrogeology
      dockerfile: Dockerfile
      args:
        BASE_VERSION: ${CUAHSI_BASE}
      labels:
        description: |
          CUAHSI JupyterHub singleuser environment configured with scientific libraries for Tao Wen's 2020 Hydrogeology course at Syracuse University. Built using cuahsi/singleuser-scientific-r:${CUAHSI_BASE} on ${BUILD_DATE}.
    image: cuahsi/singleuser-hydrogeology-r:${BUILD_DATE}

  ######################
  # 2020 WHW - Seattle #
  ######################
  whw:
    env_file:
      - '.env'
    build:
      context: ./waterhackweek
      dockerfile: Dockerfile
      args:
        BASE_VERSION: ${CUAHSI_BASE}
      labels:
        description: |
          This environment is configured with scientific libraries for the 2020 Waterhackweek Cybertraining event. Built using cuahsi/singleuser-scientific-py3:${CUAHSI_BASE} on ${BUILD_DATE}.
    image: cuahsi/singleuser-waterhackweek:${BUILD_DATE}

  ################################
  # 2018 Near Surface Geophysics #
  ################################
  geophysics:
    env_file:
      - '.env'
    build:
      context: ./python3-wine
      dockerfile: Dockerfile.wine
      args:
        # cuahsi/scientific version to use as base
        BASE_VERSION: ${CUAHSI_BASE}
      labels:
        description: |
          CUAHSI JupyterHub singleuser environment configured for the 2019 Near Surface Geophysics Workshop. This image uses WINE to run R2, gmsh,and pyres. Built using cuahsi/singleuser-scientific-py3:${CUAHSI_BASE} on ${BUILD_DATE}.
    image: cuahsi/singleuser-geophysics:${BUILD_DATE}


  ####################
  # WRF-Hydro v5.0.3 #
  ####################
  wrfhydro:
    env_file:
      - '.env'
    build:
      context: ./python3-wrfhydro
      dockerfile: Dockerfile.wrfhydro
      args:
        # cuahsi/scientific version to use as base
        BASE_VERSION: ${CUAHSI_BASE}
      labels:
        description: |
          Environment configured for WRF-Hydro v5.0.3. Built using cuahsi/singleuser-base:${CUAHSI_BASE} on ${BUILD_DATE}.
    image: cuahsi/singleuser-wrfhydro-py3:v5.0.3-${BUILD_DATE}

  ###########
  # Parflow #
  ###########
  parflow:
    env_file:
      - '.env'
    build:
      context: ./python3-parflow
      dockerfile: Dockerfile
      args:
        # cuahsi/scientific version to use as base
        BASE_VERSION: ${CUAHSI_BASE}
      labels:
        description: |
          Environment configured for Parflow. Built using cuahsi/singleuser-base:centos7.v${CUAHSI_BASE} on ${BUILD_DATE}.
    image: cuahsi/singleuser-parflow:${BUILD_DATE}

  #########
  # SUMMA #
  #########
  summa:
    env_file:
      - '.env'
    build:
      context: ./python3-summa
      dockerfile: Dockerfile
      args:
        # cuahsi/scientific version to use as base
        BASE_VERSION: ${CUAHSI_BASE}
      labels:
        description: |
          Environment configured for SUMMA. Built using cuahsi/singleuser-base:${CUAHSI_BASE} on ${BUILD_DATE}.
    image: cuahsi/singleuser-summa-py3:${BUILD_DATE}

  ###############
  # CSDMS TOOLS #
  ###############
  csdms:
    env_file:
      - '.env'
    build:
      context: ./csdms-tools
      dockerfile: Dockerfile
      args:
        # cuahsi/scientific version to use as base
        BASE_VERSION: ${CUAHSI_BASE}
      labels:
        description: |
          Environment configured for the Community Surface Dynamics Modeling System. Built using cuahsi/singleuser-base:${CUAHSI_BASE} on ${BUILD_DATE}.
    image: cuahsi/singleuser-csdms-tools:${BUILD_DATE}

  #############
  # WRF-Hydro #
  #############
  wrfhydro:
    env_file:
      - '.env'
    environment:
      - VERSION='nwm-v2.0'
    build:
      context: ./python3-wrfhydro
      dockerfile: Dockerfile.wrfhydro
      args:
        # cuahsi/scientific version to use as base
        BASE_VERSION: ${CUAHSI_BASE}
        # wrfhydro model version
        MODEL_VERSION: "nwm-v2.0"
      labels:
        description: |
          Environment configured for the NCAR WRF-Hydro model (nwm v2.0). Built using cuahsi/singleuser-base:${CUAHSI_BASE} on ${BUILD_DATE}.
    image: cuahsi/singleuser-wrfhydro:${BUILD_DATE}
