name: Build and Publish to Google Artifact Registry on Github push
# Adapted from http://acaird.github.io/computers/2020/02/11/github-google-container-cloud-run

# TODO update env for CUAHSI
env:
  GITHUB_SHA: ${{ github.sha }}
  GITHUB_REF: ${{ github.ref }}
  IMAGE_ROOT: singleuser
  REGISTRY_HOSTNAME: docker.io
  DOCKER_USER: ${{ secrets.DOCKER_USER }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  REPOSITORY: ${{ secrets.DOCKER_REPOSITORY }}

on:
  push:
    paths:
      - "singleuser/**"

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      # Expose matched filters as job 'variants' output variable
      image_variants: ${{ steps.filter.outputs.changes }}
    steps:
    - uses: actions/checkout@v3
    - uses: dorny/paths-filter@v2
      # https://github.com/marketplace/actions/paths-changes-filter#conditional-execution
      id: filter
      with:
        filters: |
          base: ${{ env.IMAGE_ROOT }}/base/**
          scientific: ${{ env.IMAGE_ROOT }}/python3-scientific/**
          r: ${{ env.IMAGE_ROOT }}/r/**
          summa: ${{ env.IMAGE_ROOT }}/python3-summa/**
          wrfhydro: ${{ env.IMAGE_ROOT }}/python3-wrfhydro/**
          csdms: ${{ env.IMAGE_ROOT }}/csdms-tools/**
  setup-build-publish-deploy:
    needs: detect-changes
    name: Setup, Build, and Publish
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 6
      matrix:
        IMAGE_VARIANT: ${{ fromJSON(needs.detect-changes.outputs.image_variants) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Load .env file
        uses: xom9ikk/dotenv@v2
        with:
          path: ${{ env.IMAGE_ROOT }}

      - name: Echo env configuration and set image tag
        id: tagging
        run: |
          echo "JH_BASE: ${{ env.JH_BASE }}"
          echo "CUAHSI_BASE: ${{ env.CUAHSI_BASE }}"
          echo "BUILD_DATE: ${{ env.BUILD_DATE }}"
          echo ------------
          export DOCKER_FULL_PATH="${REPOSITORY}/${IMAGE_ROOT}-${{ matrix.IMAGE_VARIANT }}:${{ env.CUAHSI_BASE }}"
          echo "DOCKER_FULL_PATH=$DOCKER_FULL_PATH" >> $GITHUB_ENV
          echo $DOCKER_FULL_PATH
      
      - name: Docker Login
        run: |
          echo "$DOCKER_PASSWORD" | docker login --username $DOCKER_USER --password-stdin

      # Build the Docker image
      - name: Build
        run: |
          cd "${IMAGE_ROOT}"
          docker compose build ${{ matrix.IMAGE_VARIANT }}
          docker image ls

      - name: Push Docker Image
        run: |
          docker push ${{ env.DOCKER_FULL_PATH }}

    # TODO: run tests?
